{% block SAMPLE %}
<section class="sample container">
  <div class="wrapper">
    <div class="sample__imange">
      
    </div>
    <div class="sample__headline">

    </div>
    <div class="sample__text">

    </div>
  </div>
</section>
{% endblock %}
