.button {
	background: map-get($colors, altDarkNavy);
	border-radius: 5px;
	padding: 1em 1.2em;
	font-weight: bold;
	color: map-get($colors, white);
	text-decoration: none;
	text-align: center;
	font-size: 1.7rem;
	font-weight: 600;
	line-height: 1.55;
	display: flex;
	align-items: center;
	justify-content: center;

	@include size(md) {
		font-size: 1.8rem;
	}

	&--blue {
		background: $blueGradient;
		color: map-get( $colors, altDarkNavy );
	}
	&--orange {
		background: $orangeGradient;
		color: map-get( $colors, altDarkNavy );
	}
	&--green {
		background: $greenGradient;
		color: map-get( $colors, altDarkNavy );
	}

	.icon {
		margin-left: auto;
		font-size: 2.2em;
	}
}
